@import url(../CSS/header.css);
@import url(../CSS/footer.css);
@import url(../CSS/conteudo.css);
@font-face {
    font-family: BukraFont;
    src: url(../Fonts/29LTBukraBold.otf);
}

*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #0096B6;
}

