.logo
{
    padding: 15px;
}

ul
{
    display: flex;
    list-style-type: none;
    padding: 35px;
    font-family: BukraFont;
}

li
{
    padding: 10px;
}

.help 
{
    padding: 32px;
}

.helpB
{
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

header
{
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
    background-color: aliceblue;
}