.textoInicial{
    height: 53vh;
}
.tituloInicial,.paragrafoInicial{
    text-align: center;
    padding-top: 20px;
}
.tituloInicial{
    color: rgb(165, 28, 28);
    font-family: NexaFont;
    font-size: 40px;
    font-weight: bold;
}
.paragrafoInicial{
    color: black;
    font-family: CocoGothicFont;
    font-size: 24px;
}

.bloco{
    margin: auto;
    width: 900px;
    height: 300px;
    margin-bottom: 5%;
    display: flex;
}
.caixa1{
    width: 350px;
    height: 300px;
    background: linear-gradient(rgb(250, 29, 29), #da1919 90%);
    display: flex;
    flex-direction:column;
    text-align: center;
    border-radius: 6px 0px 0px 6px;
}
.caixa2{
    width: 550px;
    height: 300px;
    background-color: rgb(155, 51, 69);
    border-radius: 0px 6px 6px 0px;
}
.formas{
    margin: auto;
    font-family: NexaFont;
    font-size: 27px;
    font-weight: bolder;
}
.a,.b,.c{
    width: 250px;
    height: 30px;
    background-color:white;
    color: #da1919;
    margin: auto;
    font-family: CocoGothicFont;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    border: 2px white solid;
    border-radius: 60px;
}

li{
    list-style: none;
}