.carousel 
{
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
}

.carousel img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
}
  
.carousel .prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    left: 20px;
}
.carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    right: 20px;
}    