.relato
{
    display: flex;
    justify-content: center;
    padding: 60px;
    flex-wrap: wrap;
}

.relatoNaninho, .relatoExAluno
{
    display: flex;
    align-items: center;
    padding-top: 20px;
    height: 600px;
    width: 430px;
    flex-direction: column;
    border-radius: 50px;
    -webkit-box-shadow: 0px 10px 24px 0px rgba(66, 68, 90, 0.200);
    -moz-box-shadow: 0px 10px 24px 0px rgba(66, 68, 90, 0.200);
    box-shadow: 0px 10px 24px 0px rgba(66, 68, 90, 0.200);
}

.relatoNaninho
{
    margin-right: 60px;
}

.relatoExAluno
{
    margin-left: 60px;
}

.relatoNaninho img, .relatoExAluno img
{
    border-radius: 100%;
    width: 300px;
    height: 300px;
}

.relatoNaninho h2, .relatoNaninho h3, .relatoNaninho p, .relatoExAluno h2, .relatoExAluno h3, .relatoExAluno p
{
    text-align: center;
}

.relatoNaninho h2, .relatoExAluno h2
{
    padding: 5px;
    font-family: NexaFont;
    font-weight: bold;
    font-size: 30px;
}

.relatoNaninho h3, .relatoExAluno h3
{
    font-family: CocoGothicFont;
    font-weight: bold;
    font-size: 23px;
}

.relatoNaninho p, .relatoExAluno p
{
    padding: 15px 8px 15px;
    font-family: CocoGothicFont;
    font-size: 20px;
    text-align: justify;
    width: 400px;
}