.banner
{
    position: relative;
    text-align: center;
    color: white;
}

.bannerImage
{
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.titleB
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: BukraFont;
    font-size: 40px;
}

.subtitleB
{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: CocoGothicFont;
    font-weight: bold;
    font-size: 25px;
}

.buttonB
{
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: none;
    background-color: #0096B6;
    color: white;
    font-family: BukraFont;
}

.QuemSomos
{
    height: 50vh;
}

.QuemSomos h1
{
    text-align: center;
    color: #0096B6;
}

.MVV
{
    display: flex;
    flex-direction: row;
    background-color: #0096B6;
    height: 50vh;
}

.Missão
{
    background-color: #0096B6;
    padding: 220px 30px;
    text-align: justify;
}

.Visão
{
    background-color: #68d0e7;
    padding: 220px 30px;
    text-align: justify;
}

.Valor
{
    background-color: #093c47;
    padding: 220px 30px;
    text-align: justify;
}

.Missão h3, .Visão h3, .Valor h3
{
    padding: 15px;
    font-size: 30px;
    font-family: BukraFont;
    text-align: center;
}

.Membros
{
    height: 50vh;
}

.Membros h1
{
    text-align: center;
    color: #0096B6;
}