
.QuemSomos
{
    height: 50vh;
}

.QuemSomos h1
{
    text-align: center;
    color: #0096B6;
}

.MVV
{
    display: flex;
    flex-direction: row;
    background-color: #0096B6;
    height: 50vh;

    
}

.Missão
{
    background-color: #0096B6;
    padding: 100px 30px;
    text-align: justify;
}

.Visão
{
    background-color: #68d0e7;
    padding: 100px 30px;
    text-align: justify;
}

.Valor
{
    background-color: #093c47;
    padding: 100px 30px;
    text-align: justify;
}


.Missão h3, .Visão h3, .Valor h3
{
    padding: 15px;
    font-size: 30px;
    font-family: NexaFont;
    font-weight: bold;
    text-align: center;
    
}

.Membros
{
    height: 90vh;
}

.Membros h1
{
    text-align: center;
    color: #0096B6;
    font-family: NexaFont;
}
