@media(max-width: 760px)
{
    /*Header*/
    header .buttonsH, .help
    {
        display: none;
    }
    
    header .logo
    {
        padding: 0;
        transform: scale(0.85);
    }
    
    header .hamburguer 
    {
        display: inline-block;
        padding: 38px 30px;
    }
          
    .bar1, .bar2, .bar3 
    {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }
          
    .change .bar1 
    {
        transform: translate(0, 11px) rotate(-45deg);
    }
          
    .change .bar2 
    {
        opacity: 0;
    }
          
    .change .bar3 
    {
        transform: translate(0, -11px) rotate(45deg);
    }

    /*Banner*/

    .bannerImage
    {
        height: 30vh;
    }

    .titleB{
        font-size: 28px;
    }

    .time{
        height:  50vh;
    }

    /*Quem somos nos*/

    .texto1 {
    
     text-align: justify;
         text-align: center;
         font-size: 14px;
         padding-left: 9%;
         padding-right: 9%;
     
     }
     
     .titulo1 {
         padding-top: 4%;
         padding-bottom: 2%;
         font-size: 21px;
     }

    /*MVV*/

    .MVV
    {
       
        display: block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 1rem;
        height: 138vh;

    }

    /*Membros*/

    .time
    {
        padding-top: 90vh;
    }
    
    .objetivo{
        font-size: 20px ;
    }

    .comprometidos{
        font-size: 15px;
    }

    .empoderar {
        font-size: 16px;
        padding-left: 12%;
    padding-right: 12%;
    }

    .trajetoria{
        height: 105vh;
        background-size: cover;
        background-position: center;
    }
    
    .trajetoriatitle{
    margin-top: 20px;
        color: #072d35;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        font-family: NexaFont;
    }

    .numeroo{
        font-size: 15px;
    }
    
    .trajetoriaazul
    {
        display: none;
    }

    .celular{
        display: block;
        margin-right: 20%;
        padding: 0;

    }

    .container-celular{
        display: block; /* Garante que a imagem é um bloco */
    width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    }

/*cards*/

    .bannercards{
        height: 50vh;
    }

    .carousel{

        padding-left: 24%;
        margin-right: 40%;
        height: 25vh;
        padding-top: 15vh;
    }

    .card {
            width: 80px;
            padding: 13px;
            
    }
    
    
    .carousel-arrow {
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 10px;
            margin-left: 10px;
    }
    
    .card img {
            width: 60px;
            height: 60px;
    }
    
    .card .nome {
            font-size: 1em;
    }

    .card h3{
            font-size: 14px;
    }

    .left-arrow {
        left: 10px;
        padding: 5px;
        margin-top: 45px;
    }
    
    .right-arrow {
        right: 10px;
        padding: 5px;
        margin-top: 45px;
    }
    
/*FIM cards*/

    /*Footer*/

    .LogoSpaceF
    {
        display: flex;
        justify-content: center;
        width: 320px;
        height: 220px;
        margin: 0;
        padding: 20px;
    }

    .Logof  
    {
        height: 250px;
        width: 250px;
    }

    .textF
    {
        width: 340px;
        margin: 0;
        padding: 10px;
    }

    .othersF, .fdiv .numero
    {
        display: none;
    }

    .buttonsF
    {
        flex-direction: column;
    }

    .buttonsF
    {
        width: 360px;
    }

    .fdiv
    {
        padding: 0px;
    }

    .fdiv p, ul
    {
        width: 360px;
    }

    .copy
    {
        margin-top: 15px;
    }

    .RS
    {
        margin-left: 10px;
    }
}
